$buttonsBgColor: #429EA6;
$darkBlue: #153B50;
$lightGray: #ECEBE4;
$hoverColor: #95A3B3;
$borderRadius: 5px;

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

.calculator-container {
    width: 330px;
    height: 490px;
    background-color: $lightGray;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: $borderRadius;
    border: 3px solid $darkBlue;
}

.calculator {
    margin: 0 auto;
    height: 95%;

    &__output {
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        margin: 0px 0px 35px 0px;
        color: $lightGray;
        background-color: $darkBlue;
        font-size: 30px;
        text-align: right;
        border-radius: $borderRadius;
    }

    &__action-bar {
        justify-content: center;
        display: grid;
        padding: 15px 0px;
        border-radius: $borderRadius;
        background-color: $buttonsBgColor;
        grid-template-columns: 58px 58px 58px 58px 58px;
        grid-template-rows: 63px 63px 63px 63px 63px;
        grid-template-areas: 
            'ce ce ce ce ce'
            'seven eight nine div sqrt'
            'four five six mul result'
            'one two three sub result'
            'zero dec neg sum result';
        grid-column-gap: 6px;
        grid-row-gap: 7px;
    }
}

.calculator-action-bar {

    &__item {
        background-color: $lightGray;
        color: $darkBlue;
        border-radius: $borderRadius;
        font-size: 25px; 
        font-weight: 700;
        cursor: pointer;
        border:none;

        &:hover {
            background-color: $hoverColor;
        }
    }
}

.calculator-footer {
    
    &__github-link {
        display: block;
        text-align: center;
        text-decoration: none;
        padding:15px 0px 0px 0px ;
        color: $darkBlue;
        font-weight: 700;
    }
}

.action-bar-item {

    &__ce {
        grid-area: ce;
    }

    &__seven {
        grid-area: seven;
    }

    &__eight {
        grid-area: eight;
    }

    &__nine {
        grid-area: nine;
    }

    &__div {
        grid-area: div;
    }

    &__four {
        grid-area: four;
    }

    &__five {
        grid-area: five;
    }

    &__six {
        grid-area: six;
    }

    &__mul {
        grid-area: mul;
    }

    &__one {
        grid-area: one;
    }

    &__two {
        grid-area: two;
    }

    &__three {
        grid-area: three;
    }

    &__sub {
        grid-area: sub;
    }

    &__zero {
        grid-area: zero;
    }

    &__dec {
        grid-area: dec;
    }

    &__negative {
        grid-area: neg;
    }

    &__sum {
        grid-area: sum;
    }

    &__sqrt {
        grid-area: sqrt;
    }

    &__result {
        grid-area: result;
    }
}
